<div class="hero-section bg-dark text-white text-end">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <img src="images/hero.png" alt="personnage" class="w-100" />
      </div>

      <div class="col-6 pt-5">
        <h1 class="">L’ÉCOLE DU NUMÉRIQUE ET DES POTENTIELS</h1>
        <p class="">
          Transformez vos codes avec Human Booster, l’école nouvelle génération
        </p>
        <a
          class="btn btn-warning text-white btn-lg"
          routerLink="formation"
          role="button"
          >NOS PROGRAMMES</a
        >
      </div>
    </div>
  </div>
</div>
