<div class="container">
  <div class="row">
    <div class="col-6" data-aos="fade-right">
      <img src="images/copine.png" alt="groupe d'ami" />
    </div>

    <div class="col-6 texte" data-aos="fade-down">
      <h1>HUMAN BOOSTER, UNE HISTOIRE D’INGÉNIERIE</h1>
      <p>
        En 2007, Human Booster naît avec une ambition forte : Toute entreprise,
        même la plus petite, doit pouvoir bénéficier d’accompagnements
        personnalisés lui permettant de pérenniser et développer son activité.
      </p>

      <p>
        Depuis la création, nous restons fidèles à notre aspiration première,
        accompagner toute structure ayant la volonté d’évoluer et de sauter le
        pas.
      </p>

      <p>
        Nous exerçons et développons notre activité en ingénierie de la
        compétence autour de deux grands axes : ingénierie de l’innovation
        (conseil en management, accompagnement à la transition digitale,
        innovation pédagogique…), ingénierie de la performance (édition
        logicielle, aide au choix, innovation managériale).
      </p>
    </div>
  </div>
</div>
